@import url('https://fonts.googleapis.com/css2?family=Plus+Jakar+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FAFAFA;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.large-text {
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
}
.copyright{
    font-size: 14px;
    color: #20484F;
}
.clr{
    color: #2D3142;
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb{
    background: #F44335;
}